body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.card-text {
    display: -webkit-box;
    max-height: 5.0rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-height: 1.6rem;
}

.height_200 {
    height: 200px;
}

.height_800 {
    min-height: 800px;
}